// VARIABLES IMPORT

@import './bootstrap/functions';
@import './bootstrap/variables';

// CUSTOM VARIABLES

$more-position-values: (
    0: 0%,
    5: 5%,
    10: 10%,
    20: 20%,
    30: 30%,
    40: 40%,
    60: 60%,
    70: 70%,
    80: 80%,
    90: 90%,
    110: 110%,
    120: 120%,
    130: 130%,
    140: 140%,
    150: 150%,
    160: 160%,
    170: 170%,
    180: 180%,
    190: 190%,
    200: 200%,
);
    
$position-values: map-merge($position-values, $more-position-values);

$more-spacers: (
    6: $spacer * 4,
    7: $spacer * 5,
);

$spacers: map-merge($spacers, $more-spacers);

$netflix-red: rgb(229, 9 ,20);

$custom-colors: (
    'danger': $netflix-red,
);

$theme-colors: map-merge($theme-colors, $custom-colors );

// VANILLA BOOTSTRAP IMPORT

 @import './bootstrap/bootstrap.scss';

// OTHER PROPERTIES

#nav-dropdown {
    left: -180%;
    top: 105%;
}

#search {
    width: 250px;
    @media screen and (max-width: 1090px) {
        width:240px;
    }
    @media screen and (max-width: 1080px) {
        width:230px;
    }
    @media screen and (max-width: 1070px) {
        width:220px;
    }
    @media screen and (max-width: 1060px) {
        width:210px;
    }
    @media screen and (max-width: 1050px) {
        width:200px;
    }
    @media screen and (max-width: 1040px) {
        width:190px;
    }
    @media screen and (max-width: 1030px) {
        width:180px;
    }
    @media screen and (max-width: 1020px) {
        width:170px;
    }
    @media screen and (max-width: 1010px) {
        width:160px;
    }
    @media screen and (max-width: 1000px) {
        width:150px;
    }
}

.btn-netflix {
    background-color: black;
    border: 1px solid $secondary;
}

.btn-radio {
    height: 30px;
    padding: 0 12px;
    &:hover {
        border-color: white;
    }
    &::after {
        border-color: white;
    }
}

.radio-selected {
    border-color: white;
}

.content {
    transition: 200ms;
    position: relative;
    z-index: 1;
    &:hover {
        z-index: 2;
        transform: scale(1.1)
    }
    @media screen and (max-width: 768px) {
        &:hover {
            transform: scale(1)
        }
    }
}

footer {
    padding: 80px 300px 20px 300px;
    @media screen and (max-width: 1400px) {
        padding: 80px 200px 20px 200px;
    }
    @media screen and (max-width: 1200px) {
        padding: 80px 150px 20px 150px;
    }
    @media screen and (max-width: 992px) {
        padding: 60px 100px 20px 100px;
    }
    @media screen and (max-width: 768px) {
        padding: 0.5rem;
        padding-bottom: 20px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 10px;
    }
}

#profile {
    width: 45%;
    margin: 0 auto;
    @media screen and (max-width: 1400px) {
        width:50%
    }
    @media screen and (max-width: 1200px) {
        width:60%
    }
    @media screen and (max-width: 992px) {
        width:75%
    }
    @media screen and (max-width: 768px) {
        width:100%
    }
}

#language {
    width: 100px;
    height: 30px;
    padding: 0;
    padding-left: 10px;
    padding-bottom: 3px;
}

.text-spacing {
    letter-spacing: 0.1rem;
}

#defaultCheck1 {
    background-color: black;
    color: white;
}

#settings {
    width: 70%;
    margin: 0 auto;
    border: none
}